a1.sources = kafka-source-1
a1.channels = hdfs-channel-1
a1.sinks = hdfs-sink-1

a1.sources.kafka-source-1.type = org.apache.flume.source.kafka.KafkaSource
a1.sources.kafka-source-1.zookeeperConnect = localhost:2181
a1.sources.kafka-source-1.topic = customer-avro
a1.sources.kafka-source-1.channels = hdfs-channel-1

a1.sinks.hdfs-sink-1.channel = hdfs-channel-1
#a1.sinks.hdfs-sink-1.type = hdfs
#a1.sinks.hdfs-sink-1.hdfs.writeFormat = Text
#a1.sinks.hdfs-sink-1.hdfs.fileType = DataStream
#a1.sinks.hdfs-sink-1.hdfs.filePrefix = test-events
#a1.sinks.hdfs-sink-1.hdfs.useLocalTimeStamp = true
#a1.sinks.hdfs-sink-1.hdfs.path = /tmp/kafka/%{topic}/%y-%m-%d
#a1.sinks.hdfs-sink-1.hdfs.rollCount=100
#a1.sinks.hdfs-sink-1.hdfs.rollSize=0

a1.sinks.hdfs-sink-1.type = hdfs
a1.sinks.hdfs-sink-1.hdfs.writeFormat= Text
a1.sinks.hdfs-sink-1.hdfs.fileType = DataStream
a1.sinks.hdfs-sink-1.hdfs.fileSuffix = .avro
a1.sinks.hdfs-sink-1.hdfs.path = /Users/kyubro/flume/sink/kafka/%{topic}/%y-%m-%d
a1.sinks.hdfs-sink-1.hdfs.rollCount=100
a1.sinks.hdfs-sink-1.hdfs.rollSize=0
a1.sinks.hdfs-sink-1.serializer=avro_event
#a1.sinks.hdfs-sink-1.serializer=org.apache.flume.sink.hdfs.AvroEventSerializer$Builder
#a1.sinks.hdfs-sink-1.serializer.schemaURL=/etc/schemas/customer-v1.avsc

a1.channels.hdfs-channel-1.type = memory
a1.channels.hdfs-channel-1.capacity = 10000
a1.channels.hdfs-channel-1.transactionCapacity = 1000